html{
    background-color: #fafafa;
}

.logo1 {
    width: 328px;
    height: 116px;
    object-fit: cover;
    margin-top: 10rem;
}

.button{
    --background: #004574;;
    --background-hover: #1d8eda;
}

.text-format{
    font-family: "Montserrat", Helvetica;
}
