<ion-content [fullscreen]="true">
  <ion-toolbar style="display: flex; flex-direction: row;">
    <a routerLink="/login" routerLinkActive="active"><ion-icon size="large"
        name="return-up-back-outline"></ion-icon></a>
    <img src="../../../assets/logo-bg.png" style="object-fit: cover; display: block; margin: auto;" height="65px">
  </ion-toolbar>

  <div *ngIf="registerStepCompleted==0">
    <ion-label style="text-align: center;">
      <h1>
        Çalışan Kayıt Formu Adım 1/3
      </h1>
    </ion-label>

    <ion-card>
      <form [formGroup]="userForm">
        <ion-item>
          <ion-icon name="at-outline"></ion-icon>
          <ion-input type="email" label="Email Adresi" formControlName="email" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="key-outline"></ion-icon>
          <ion-input type="password" label="Parola" formControlName="password" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="key-outline"></ion-icon>
          <ion-input type="password" label="Parola Tekrarı" formControlName="repassword" required></ion-input>
        </ion-item>

        <div style="display: flex; flex-direction: row;">
          <ion-item>
            <ion-input label="Ad" formControlName="name" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-input label="Soyad" formControlName="surname" required></ion-input>
          </ion-item>
        </div>
      </form>

      <form [formGroup]="registerForm">
        <div fxLayout="row">
          <ion-item>
            <ion-select label="Cinsiyet" placeholder="Cinsiyet Seçiniz" formControlName="gender">
              <ion-select-option [value]="gender"
                *ngFor="let gender of Genders">{{EnumGender2Label[gender]}}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-input label="Doğum Tarihi" placeholder="GG/aa/YY" formControlName="birthDate" type="date"></ion-input>
          </ion-item>

        </div>
      </form>
    </ion-card>

    <ion-card>
      <form [formGroup]="infoForm">
        <ion-item>
          <ion-icon name="call-outline"></ion-icon>
          <ion-input label="Telefon Numarası" formControlName="phone" maxlength="10" [counter]=true placeholder="5xx..."
            required></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="map-outline"></ion-icon>
          <ion-input label="Ev Adresi" formControlName="address" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-select label="Askerlik Durumu" placeholder="Tamamlandı" formControlName="military">
            <ion-select-option [value]="military"
              *ngFor="let military of MilitaryStatus">{{EnumMilitaryServiceInfo2Label[military]}}</ion-select-option>
          </ion-select>
        </ion-item>
      </form>
    </ion-card>

    <ion-button shape="round" style="float: right;" (click)="nextStep()"> Sonraki Adım
      <ion-icon size="large" name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </div>

  <div *ngIf="registerStepCompleted==1">
    <ion-label style="text-align: center;">
      <h1>
        Çalışan Kayıt Formu Adım 2/3
      </h1>
    </ion-label>

    <ion-card>
      <form [formGroup]="jobPreferences">
        <div style="display: flex; flex-direction: row;">
          <ion-item>
            <ion-input label="Maaş Başlangıç" formControlName="salaryMin" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-input label="Maaş Bitiş" formControlName="salaryMax" required></ion-input>
          </ion-item>
        </div>

        <ion-item>
          <ion-select label="Meslek Tercihi" placeholder="Meslek Seçiniz" formControlName="jobType" [multiple]="false">
            <ion-select-option [value]="jobType"
              *ngFor="let jobType of displayingJobTypes">{{jobType}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-select label="Çalışma Tercihi" placeholder="Lütfen Seçiniz" formControlName="workType">
            <ion-select-option [value]="workType" *ngFor="let workType of WorkTypeLabels">{{EnumEmployementType2Label[workType]}}</ion-select-option>
          </ion-select>
        </ion-item>

      </form>
    </ion-card>

    <ion-card>
      <form [formGroup]="jobPreferences">
        <div style="display: flex; flex-direction: row; align-items: center;">
          <ion-item style="width: 90%;">
            <ion-range label="Mesafe" min="5" max="50" formControlName="range" [pin]="true"></ion-range>
          </ion-item>

          <ion-label style="width: 10%; margin-right: 15px;" >{{jobPreferences.value.range}} km</ion-label>
        </div>

        <ion-item>
          <ion-select label="Yan Haklar" placeholder="Lütfen Seçim Yapın" formControlName="benefits" [multiple]="true">
            <ion-select-option [value]="benefits"
              *ngFor="let benefits of displayingBenefits">{{benefits}}</ion-select-option>
          </ion-select>
        </ion-item>

      </form>
    </ion-card>

    <ion-button shape="round" style="float: right;" (click)="nextStep()"> Sonraki Adım
      <ion-icon size="large" name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>