// ion-grid {
//     --ion-grid-padding: 20px;

//     --ion-column-padding: 20px;

// }

ion-header{
    background-color: lightgrey;
}


.ist-background{
    background-image: url("https://images.pexels.com/photos/3184465/pexels-photo-3184465.jpeg");
    background-size: cover;
    // background-blend-mode: lighten;
}

.prof-background{
    background-image: url("https://images.pexels.com/photos/3201466/pexels-photo-3201466.jpeg");
    background-size: cover;
    // background-blend-mode: lighten;
}